body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
 .container h4{
    color: blue;
}
.editor {
    height: 150px;
    width: 99%;
    background-color: #fff;

}
.container{
    height: 100%;
    width:99%;
    border: 2px solid rgb(187, 179, 179);
    border-radius: 4px;
    background-color:#ccc;
    max-width: 1100px;
    align-items: center;
    
}
button{
    margin:0 5px;
    padding: 6px 5px;
    border:1px solid #0954ca;
    border-radius: 4px;
    background-color:#0954ca;
    color: #ffebeb;
}
button:hover{
background-color: blue;
}
.container h1{
    text-align: center;
    color: #174156;


}
.button{
    margin: 0 3px;
    background-color: rgb(27, 10, 87);
    padding: 3px 1px;
}
.A{
    margin: 2rem 3rem;
    padding: 6px;
}
.delete{
    background-color:#63123de8;
    color: #ffebeb;
    border: 0px solid #63123de8;
    margin-left: 10px;
}
.delete:hover{
    background-color: rgb(80, 17, 29);
}
.edit{
    background:#0954ca;
    color: #ffebeb;
    border: 0px solid #0954ca;

}
.edit:hover{
    background-color:blue;
}
/* .B{
    margin: 2rem 3rem;
    padding: 6px;
}
.C{
    margin: 2rem 3rem;
    padding: 6px;
} */



@media(max-width:500px){
        .container{
            text-align: center;
            align-items: center;
            display: block;
        }
        .button{
            margin:auto;
            padding: 4px 5px;
        }
        .editor {
            height: 150px;
            width: 90%;
            background-color: #fff;
        
        }
}
@media(max-width:700px){
    .container{
        text-align: center;
        align-items: center;
        display: block;
    }
    .button{
        margin: auto;
        padding: 4px 5px;
    }
    .editor {
        height: 150px;
        width: 90%;
        background-color: #fff;
    
    }
}
@media(max-width:491px){
    .container{
        text-align: center;
        align-items: center;
        display: block;
    }
    .container h1{
        font-size: 20px;
    }
    .button{
    margin: auto;
    padding: 4px 5px;
    }
    .editor {
        height: 150px;
        width: 90%;
        background-color: #fff;
    
    }
}